language: node
dist: xenial
services:
  - docker
matrix:
  include:
    - install:
        - docker build -t noiseblend/ui:$TRAVIS_COMMIT
          --build-arg SENTRY_DSN
          --build-arg SENTRY_AUTH_TOKEN
          --build-arg SENTRY_RELEASE=$TRAVIS_COMMIT
          --build-arg LOCAL_API_URL=http://api:9000/
          --build-arg REMOTE_API_URL=https://api.noiseblend.com/
          --build-arg LOCAL_WS_URL=ws://api:9000
          --build-arg REMOTE_WS_URL=wss://api.noiseblend.com
          --build-arg DOMAIN=www.noiseblend.com .
      script:
        - docker images
    - install:
        - docker build -t noiseblend/ui:staging
          --build-arg SENTRY_DSN
          --build-arg SENTRY_AUTH_TOKEN
          --build-arg SENTRY_RELEASE=$TRAVIS_COMMIT
          --build-arg LOCAL_API_URL=http://api-staging:9000/
          --build-arg REMOTE_API_URL=https://staging-api.noiseblend.com/
          --build-arg LOCAL_WS_URL=ws://api-staging:9000
          --build-arg REMOTE_WS_URL=wss://staging-api.noiseblend.com
          --build-arg DOMAIN=staging.noiseblend.com .
      script:
        - docker images
deploy:
  provider: script
  script: bash scripts/docker_push.sh
  on:
    repo: Noiseblend/ui
    all_branches: true
env:
  global:
    secure: URSklnr60Gy17L6gyKpI5yLN1VJkmZZI6toGTYoRDkMlY2mabBxDgP0JaKJniP18dwclI0kqvYuHCb+o5e+4LiAWMepcW3t82iPDxZY9/Dvcdl94J5+etDq4QOBOEDFc2lXOcvjT/knfdxEG2NwQrk5bjoRgujjW6Fqw5gUu5fy2hVtUMxdXR80ky5YZU/rO/K9HzMO+Isqr66QyaNZSkkkG9kgnsTBa6jvR5IZOM/R4bKsAExxjTrKw1L5AHzkzW28j6eGEF2cg+OV/eV33UNHxE96XSxRgFTGhqWUfdBKkCiG6w/CJU9QHeOJUYjTYKmNZvO36/eXQLnKe4ZkEK0jSB1mR1XvOzg6bYpEIWZqtIqa1/j9FizkQWCJQFRI8vHyWomEBjPhxlGPPQPpDdiqrE3v0y2TrJSd1de++lg0eJOQeDvEKrI/5OnOCbTUvmxtlSc66VU05d1vWjoiVwmsKMmgQ4QuUYWRB07lXxZQvAolNtLq407VREDFS2FuVl8yMinC2cT22IW7zYN5nHvARbU5Ko26FkeOpVXLZqRa21P1XX65b+fri2qO0hoz8x8G3dkzrfkZM+Ik+V8EJo+sbmMFIV0DiE3O0L/aY8vDL35B8C4O2WDFVeVvfRWCXa06S+R9GbBngw8IrUrNHqb5JPgr/7Ai4RNX3l8QDJg0=
