@font-face
  font-family: 'Futura'
  src: url('/static/fonts/Futura/Futura-Bold-Condensed.woff') format('woff')
  src: local('Futura-Bold-Condensed')
  font-weight: bold
  font-style: normal
  font-stretch: condensed


@font-face
  font-family: 'Futura'
  src: url('/static/fonts/Futura/Futura-Bold.woff2') format('woff2'),
       url('/static/fonts/Futura/Futura-Bold.woff') format('woff')
  src: local('Futura-Bold')
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'Futura'
  src: url('/static/fonts/Futura/Futura-CondensedExtraBold.woff2') format('woff2'),
       url('/static/fonts/Futura/Futura-CondensedExtraBold.woff') format('woff')
  src: local('Futura-CondensedExtraBold')
  font-weight: 800
  font-style: normal
  font-stretch: condensed


@font-face
  font-family: 'Futura'
  src: url('/static/fonts/Futura/Futura-CondensedMedium.woff2') format('woff2'),
       url('/static/fonts/Futura/Futura-CondensedMedium.woff') format('woff')
  src: local('Futura-CondensedMedium')
  font-weight: normal
  font-style: normal
  font-stretch: condensed


@font-face
  font-family: 'Futura'
  src: url('/static/fonts/Futura/Futura-Medium.woff2') format('woff2'),
       url('/static/fonts/Futura/Futura-Medium.woff') format('woff')
  src: local('Futura-Medium')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Futura'
  src: url('/static/fonts/Futura/Futura-MediumItalic.woff2') format('woff2'),
       url('/static/fonts/Futura/Futura-MediumItalic.woff') format('woff')
  src: local('Futura-MediumItalic')
  font-weight: normal
  font-style: italic

